{<<"app">>,<<"oban_web">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"Oban Web Component">>}.
{<<"elixir">>,<<"~> 1.12">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/oban">>,<<"lib/oban/web">>,
  <<"lib/oban/web/dashboard_live.ex">>,<<"lib/oban/web/page.ex">>,
  <<"lib/oban/web/telemetry.ex">>,<<"lib/oban/web/plugins">>,
  <<"lib/oban/web/plugins/stats.ex">>,<<"lib/oban/web/query.ex">>,
  <<"lib/oban/web/router.ex">>,<<"lib/oban/web/components">>,
  <<"lib/oban/web/components/sidebar_component.ex">>,
  <<"lib/oban/web/components/sort_component.ex">>,
  <<"lib/oban/web/components/queues">>,
  <<"lib/oban/web/components/queues/group_row_component.ex">>,
  <<"lib/oban/web/components/queues/table_component.ex">>,
  <<"lib/oban/web/components/queues/child_row_component.ex">>,
  <<"lib/oban/web/components/queues/detail_component.ex">>,
  <<"lib/oban/web/components/queues/detail_instance_component.ex">>,
  <<"lib/oban/web/components/form_component.ex">>,
  <<"lib/oban/web/components/layout_component.ex">>,
  <<"lib/oban/web/components/jobs">>,
  <<"lib/oban/web/components/jobs/row_component.ex">>,
  <<"lib/oban/web/components/jobs/table_component.ex">>,
  <<"lib/oban/web/components/jobs/search_component.ex">>,
  <<"lib/oban/web/components/jobs/detail_component.ex">>,
  <<"lib/oban/web/components/jobs/header_component.ex">>,
  <<"lib/oban/web/components/jobs/bulk_action_component.ex">>,
  <<"lib/oban/web/components/jobs/timeline_component.ex">>,
  <<"lib/oban/web/components/refresh_component.ex">>,
  <<"lib/oban/web/helpers.ex">>,<<"lib/oban/web/templates">>,
  <<"lib/oban/web/templates/layout">>,
  <<"lib/oban/web/templates/layout/app.html.eex">>,
  <<"lib/oban/web/timing.ex">>,<<"lib/oban/web/views">>,
  <<"lib/oban/web/views/layout_view.ex">>,
  <<"lib/oban/web/views/dashboard_view.ex">>,<<"lib/oban/web/pages">>,
  <<"lib/oban/web/pages/jobs_page.ex">>,
  <<"lib/oban/web/pages/queues_page.ex">>,<<"lib/oban/web/resolver.ex">>,
  <<"lib/oban/web/helpers">>,<<"lib/oban/web/helpers/queue_helper.ex">>,
  <<"lib/oban/web/search.ex">>,<<"lib/oban/web/exceptions.ex">>,
  <<"lib/oban/web.ex">>,<<"priv">>,<<"priv/static">>,
  <<"priv/static/app.css">>,<<"priv/static/app.js">>,<<".formatter.exs">>,
  <<"mix.exs">>]}.
{<<"licenses">>,[<<"Commercial">>]}.
{<<"links">>,[]}.
{<<"name">>,<<"oban_web">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.2">>}],
  [{<<"app">>,<<"oban">>},
   {<<"name">>,<<"oban">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.11">>}],
  [{<<"app">>,<<"phoenix">>},
   {<<"name">>,<<"phoenix">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.6">>}],
  [{<<"app">>,<<"phoenix_html">>},
   {<<"name">>,<<"phoenix_html">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.1">>}],
  [{<<"app">>,<<"phoenix_live_view">>},
   {<<"name">>,<<"phoenix_live_view">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<">= 0.17.4 and < 0.19.0">>}],
  [{<<"app">>,<<"phoenix_view">>},
   {<<"name">>,<<"phoenix_view">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.0">>}]]}.
{<<"version">>,<<"2.9.6">>}.
