{<<"links">>,[]}.
{<<"name">>,<<"oban_web">>}.
{<<"version">>,<<"2.10.1">>}.
{<<"description">>,<<"Oban Web Component">>}.
{<<"elixir">>,<<"~> 1.13">>}.
{<<"app">>,<<"oban_web">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/oban">>,<<"lib/oban/web">>,
  <<"lib/oban/web/dashboard_live.ex">>,<<"lib/oban/web/page.ex">>,
  <<"lib/oban/web/telemetry.ex">>,<<"lib/oban/web/cache.ex">>,
  <<"lib/oban/web/plugins">>,<<"lib/oban/web/plugins/stats.ex">>,
  <<"lib/oban/web/query.ex">>,<<"lib/oban/web/router.ex">>,
  <<"lib/oban/web/components">>,<<"lib/oban/web/components/sort.ex">>,
  <<"lib/oban/web/components/icons.ex">>,
  <<"lib/oban/web/components/core.ex">>,
  <<"lib/oban/web/components/layouts.ex">>,
  <<"lib/oban/web/components/layouts">>,
  <<"lib/oban/web/components/layouts/live.html.heex">>,
  <<"lib/oban/web/components/layouts/root.html.heex">>,
  <<"lib/oban/web/live">>,<<"lib/oban/web/live/connectivity.ex">>,
  <<"lib/oban/web/live/shortcuts.ex">>,<<"lib/oban/web/live/theme.ex">>,
  <<"lib/oban/web/live/queues">>,
  <<"lib/oban/web/live/queues/group_row_component.ex">>,
  <<"lib/oban/web/live/queues/table_component.ex">>,
  <<"lib/oban/web/live/queues/child_row_component.ex">>,
  <<"lib/oban/web/live/queues/detail_component.ex">>,
  <<"lib/oban/web/live/queues/detail_instance_component.ex">>,
  <<"lib/oban/web/live/jobs">>,
  <<"lib/oban/web/live/jobs/table_component.ex">>,
  <<"lib/oban/web/live/jobs/search_component.ex">>,
  <<"lib/oban/web/live/jobs/sidebar_component.ex">>,
  <<"lib/oban/web/live/jobs/detail_component.ex">>,
  <<"lib/oban/web/live/jobs/sort_component.ex">>,
  <<"lib/oban/web/live/jobs/header_component.ex">>,
  <<"lib/oban/web/live/jobs/bulk_action_component.ex">>,
  <<"lib/oban/web/live/jobs/timeline_component.ex">>,
  <<"lib/oban/web/live/jobs/chart_component.ex">>,
  <<"lib/oban/web/live/batches">>,<<"lib/oban/web/live/refresh.ex">>,
  <<"lib/oban/web/helpers.ex">>,<<"lib/oban/web/application.ex">>,
  <<"lib/oban/web/timing.ex">>,<<"lib/oban/web/pages">>,
  <<"lib/oban/web/pages/jobs_page.ex">>,
  <<"lib/oban/web/pages/queues_page.ex">>,<<"lib/oban/web/resolver.ex">>,
  <<"lib/oban/web/authentication.ex">>,<<"lib/oban/web/helpers">>,
  <<"lib/oban/web/helpers/queue_helper.ex">>,<<"lib/oban/web/exceptions.ex">>,
  <<"lib/oban/web.ex">>,<<"priv">>,<<"priv/static">>,
  <<"priv/static/app.css">>,<<"priv/static/app.js">>,<<".formatter.exs">>,
  <<"mix.exs">>]}.
{<<"licenses">>,[<<"Commercial">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"jason">>},
   {<<"app">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix">>},
   {<<"app">>,<<"phoenix">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.7.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix_html">>},
   {<<"app">>,<<"phoenix_html">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 3.2">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix_pubsub">>},
   {<<"app">>,<<"phoenix_pubsub">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.1">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"phoenix_live_view">>},
   {<<"app">>,<<"phoenix_live_view">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.19">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"postgrex">>},
   {<<"app">>,<<"postgrex">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.17">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"oban">>},
   {<<"app">>,<<"oban">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 2.15">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"oban_met">>},
   {<<"app">>,<<"oban_met">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.1.2">>},
   {<<"repository">>,<<"oban">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
